/*
 button color: #596D48 
 inputs: #E5E7EB
*/
body{
   margin: 0;
   padding: 0;
   display: flex;
}
@font-face{
    src: url(fonts/Norse-Bold.otf);
    font-family: norseBold;
    
 }

.logo-container{
   background-image: url(imgs/photo-1585202900225-6d3ac20a6962.avif);
  background-repeat: no-repeat;
  background-size: cover; /* ovo čini da slika uvek pokrije kontejner */
  background-position: center;
  width: 33.33vw;
  height: 100vh;
  position: relative;

}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   width: 100%;
   top: 20%;
   
}

#odin-logo{
   height: 110px;
}
 h1{
    font-family: norseBold;
    color: white;
    font-size: 110px;
 }